<!doctype html>
<html>
  <head>
    <title>Dogs are the coolest!</title>
  </head>

  <body>
    <h1> MY DOG!!!<h1>
    <p> I have a dog named <%= @dog1.name %>. He is a <%= @dog1.breed %>. He is <%= @dog1.age %> years old.</p>

  </body>
</html>