<!doctype html>
<html>
  <head>
    <title>Goats are the coolest!</title>
  </head>

  <body>
    <h1>Even MORE Fun With Goats</h1>

    <p>Name: <%= @goat1.name %></p>
    <p>Age: <%= @goat1.age %></p>
    <p>Moody? <%= @goat1.moody %></p>

  </body>
</html>