<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sentence Juggler</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <!--Row 1 (navbar)  -->
      <div class="row">
        <nav>

        </nav>
      </div>
      <!--Row 2 (header)  -->
      <div class="row">
        <header>
          <h1>Welcome to the text randomizer!</h1>
        </header>
      </div>
      <!--Row 3 (the form)  -->
      <div class="row">
        <div class="center-text col-md-offset-4 col-md-4">
          <form action="/results" method="post">
            <label for="string">Type the sentence you'd like to randomize!</label>
            <input type="text" name="string">
            <input type="submit">
          </form>
        </div>
      </div>
      <!--Row 4 (the fooder)  -->
      <div class="row">
        <footer>
          <div class="col-md-4">
            <ul class="plain-list">
              <li>Jeff Olson</li>
              <li>Upperline School of Code</li>
              <li>Created Summer 2016</li>
            </ul>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
