<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sentence Juggler</title>
  </head>
  <body>
    <h1>Your sentence has been randomized as follows:</h1>
    <h3><%=@new_string%></h3>
    <img src="images/thumbsup.jpg" alt="thumbs up!" />
  </body>
</html>
